/* Table of Content
==================================================
	#Typography
	#General
	#Home
	#Navigation
	#About
	#Skills
	#Experience
	#Projects & Programs
	#Contact
	#Footer */


/* Typography
================================================== */

h1, h2, h3 {
	font-family: 'Ubuntu';
	text-align: center;
	text-transform: lowercase;
}

.title {
	color: #515151;
	font-weight: 300;
	font-size: 350%;
}

h2 {
	font-size: 170%;
	font-weight: 500;
}

h3 {
	font-size: 115%;
	font-weight: 500;
	text-align: left;
}

p {
	font-family: 'Raleway';
	font-size: 100%;
}

a {
	font-family: 'Raleway';
	font-size: 110%;
}

span {
	font-family: 'Ubuntu';
}


/* #General
================================================== */

.container-fluid {
	background-color: #fafafa;
	box-shadow: 0px -10px 40px #F0F0F0;
							/*#F0F8FF*/
	padding-top: 2em;
	padding-bottom: 4em;
}

.left {
	text-align:left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}

/* #Home
================================================== */
#home {
	width: 100%;
	height: 500px;
}

.intro-img {
	background-image: url('../images/introExpanded4.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 500px;	
}

#home .intro {
	position: relative;
	color: #fff;
	z-index: 0;
	padding-top: 150px;
	margin-left: 10%;
	height: 500px;
	width: 305px;
	padding-left: 2em;
	padding-right: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

#home h1 {
	text-transform: none;
	text-align: left;
	font-weight: 400;
}

#home p {
	font-size: 110%;
}



/* Navigation
================================================== */

#navigation {
	background: #fff;
	width: 100%;
	position: static;
	z-index: 1000;
	text-align: center;
	height: 40px;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

#navigation a {
	display: inline-block;
	padding: 10px 25px 10px 25px;
	color: #515151;
	font-weight: 400;
	text-decoration: none;
}

#navigation a:hover {
	background: #d0e1ee;
	/*87CEEB dark*/
	/*ADD8E6*/
	/*B2DFEE*/
	/*BFEFFF light*/

	color: #000;
}

#navigation a.active {
	background: #323232;
	color: #fff;
}

/* About
================================================== */
#about.container-fluid {
	background-color: #F7F7F7;
}

.about-info {
	display: table;
	margin-left: 2em;
}

.about-info p {
	display: table-cell;
	vertical-align: middle;
}

#about img {
	display: table-cell;
	height: 350px;
	width: auto;
	margin-left: 2em;
}



/* Skills
================================================== */
.skill-table {
	text-align: center;
}

.sub-skill-table {
	margin-left: auto;
	margin-right: auto;
	font-family: "Raleway";
	font-size: 110%;
}

.other-column {
	width: 165px;
}

.rating {
	margin-left: 10px;
	color:#e50000;
}

#skills ul {
	margin-top: 2em;
	text-align: center;
}
#skills li {
	display: inline;
	margin-left: 1em;
	margin-right: 1em;
}


/* Experience
================================================== */
#experience.container-fluid {
	background-color: #F7F7F7;
}

.work-list img {
	display: inline;
	height: 100px;
	width: auto;
	padding-left: 3%;
	padding-right: 1.3em;
}

.work-info {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 80%;
}

.work-company {
	margin-right: 1em;
	text-transform: uppercase;
	margin: 0px;
}

.work-position {
	color: #0D4F8B;
	text-transform: none;
	text-align: none;
	font-size: 110%;
}

.work-time {
	float: right;
	font-style: italic; 
	font-weight: 200;
	color: #858585;
	font-size: 90%;
}

/* Projects & Programs
================================================== */
	/*see component.css*/

#projects p {
	text-align: center;
	font-size: 140%;
	font-weight: 200;
}

/* Contact
================================================== */

#contact.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	background-color: #F7F7F7;
}

#contact #contact-background {
	background-image: url('../images/contact2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	padding: 0;
	z-index: -10;
	width: 100%;
	height: 400px;	
}

#contact p {
	color: #000;
	margin-left: 55%;
	margin-top: 5%;
	position: absolute;
	text-align: right;
	font-size: 110%;
}

#contact .info {
	position: relative;
	display: block;
	float: right;
	margin-right: 10%;
	margin-top: 14em;
}

#contact a {
	display: block;
	padding:.4em .8em;
	width: 250px;
	height: 100%;
	font-size: 110%;
	margin: .5em 1.666666666%;
	text-transform:uppercase;
	text-decoration:none;
}

#contact a:hover {
	box-shadow: 0px 0px 15px #858585; 
}

#contact i {
	padding-top: .12em;
	padding-right: .5em;
	float:right;
	vertical-align: middle;
}

#contact span {
	color: #D9D9D9;
	font-size:.8em;
	font-weight: 200;
	font-family: "Raleway";
	display:inline;
	text-transform: lowercase;
	padding-left: 1em;
}

#contact #email {
	background-color:#9a2625;
	color: #f8e3e3;
}

#contact #email span {
	color:#de7675;
}

#contact #email i {
	color:#d03c3b;
}

#contact #email:hover span {
	color:#ecb1b0;
}
#contact #email:hover i {
	color:#de7675;
}

#contact #linkedin {
	background-color:#0d4167;
	color: #d9e7f1;
}

#contact #linkedin span {
	color:#4389bb;
}

#contact #linkedin i {
	color:#156cab;
}

#contact #linkedin:hover i {
	color:#5b98c4;
}

#contact #linkedin:hover span {
	color:#a1c4dd;
}

#contact #github{
	background-color: #000;
	color: #ccc;
}

#contact #github span {
	color:#8A8A8A;
}

#contact #github i {
	color:#4F4F4F;

}

#contact #github:hover span {
	color: #B8B8B8;
}

#contact #github:hover i {
	color:#808080;
}

#contact #facebook {
	background-color:#25335a;
	color: #c9d0e1;
}

#contact #facebook span {
	color:#7182af;
}

#contact #facebook i {
	color:#4e639b;
}

#contact #facebook:hover span {
	color:#b8c0d7;
}
#contact #facebook:hover i {
	color:#8391b9;
}


/* Footer
================================================== */
#footer {
	text-align: center;
	padding: 10px 0px 10px 0px;
	color: #858585;
	font-size: 0.8em;
}

