.navbar-brand img {
	padding: 10px;
	border-radius: 3px;
	max-width: 100%;
	max-height: 100px;
	width: auto;
	float: left;
	position: relative;
}

.nav > li {
	display: inline-block;
	position: relative;
}

img {
	vertical-align: middle;
}

.navbar-nav {
	float: right;
}